form {
    display: grid;
    grid-template-columns: auto 300px;
    justify-content: flex-start;
    grid-gap: 10px;

    label{
        grid-column: 1;
        grid-column-start: 1;
    }

    fieldset {
        grid-column: span 2;
        display: grid;
        grid-template-columns: auto 200px;
    }

    input, select {
        outline:none;
    }

    input:focus, select:focus {
        border:2px solid lightblue;
        background-color: yellowgreen;
    }
}