article {
    section {
        header h1 {
            color: blue;
        }
        p {
            font-family: sans-serif;
        }
        nav a {
            display: flex;
            flex-direction: column;
            color: black;
            text-decoration: none;
            width: fit-content;

            &:hover {
                background-color: #404040;
                color: white;
            }

        }
    }
}

footer {
    border-top: 1px solid black;

    p {
        font-size: small;
    }
}
